<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="bg-img">
  <div class="content">
    <h1> NOKIA </h1> 
    <label id="label"> FACILIVISS </label>
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">

      <!-- ---------- Email ----------  -->
      <div class=" form-group field">
        <mat-icon class="icon">account_circle</mat-icon>
        <input 
        type="text" id="email" formControlName="email" class="form-control" placeholder="Email">
      </div>
      <span *ngIf="!LoginForm.get('email').valid && LoginForm.get('email').touched" class="error">Please enter valid email </span>

      <!-- ---------- Password ----------  -->
      <div class="form-group field">
        <mat-icon class="icon">https</mat-icon>
        <input class="form-control pass-key" formControlName="password" placeholder="Password" matInput [type]="hide ? 'password' : 'text'">
        <div class="psicon">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </div>
      </div>
      <div
        *ngIf="!LoginForm.get('password').valid && LoginForm.get('password').touched && LoginForm.controls['password'].hasError('minlength')"
        class="error">Password should be minimum 6 characters</div>
      <br>
      <div class="pass">
        <a> Forgot Password ? </a> <br>
      </div>
      <br>
      <button 
          class="btn" 
          *ngIf="LoginForm.valid" 
          mat-flat-button color="primary" 
          type="submit" 
          [disabled]="!LoginForm.valid"
          >Submit</button>

      <button class="btn" *ngIf="!LoginForm.valid" mat-flat-button disabled>Submit</button>
    </form>
  </div>
</div>